{{ define "topnavigation" }}
<span class="top-navigation">
    <span class="navigation">
        [
        <span class="navigation-item">
            <a href="/boards/crypto/page/1">crypto</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/general/page/1">general</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/music/page/1">music</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/tech/page/1">tech</a>
        </span>
        ]
    </span>
    <span class="navigation">
        [
        <span class="navigation-item">
            <a href="/start-thread">start thread</a>
        </span>
        ]
    </span>
</span>
{{ end }}
