{{ define "post" }}
<div class="post-container">
    <div class="post">
        <p class="post-head">
            {{ if ne .Subject "" }}
                <span class="post-subject">{{ .Subject }}</span>
            {{ end }}
            <span class="post-date" v-text="date" />
            {{ if eq .ReplyTo 0 }}
                <a href="/{{ .Board }}/thread/{{ .Id }}">No.</a>
            {{- else }}
                <a href="/{{ .Board }}/thread/{{ .ReplyTo }}#{{ .Id }}">No.</a>
            {{- end }}<span class="post-id">{{ .Id }}</span>
        </p>
        {{ if ne .Body "" }}<pre class="post-body">{{ .BodySafeHTML }}</pre>{{ end }}
    </div>
</div>
{{ end }}
