{{ define "pagenavigation" }}
<div class="page-navigation">
    <span class="navigation">
        [
        <span class="navigation-item">
            <a href="/{{ . }}">1</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/{{ . }}/2">2</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/{{ . }}/3">3</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/{{ . }}/4">4</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/{{ . }}/5">5</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/{{ . }}/6">6</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/{{ . }}/7">7</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/{{ . }}/8">8</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/{{ . }}/9">9</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/{{ . }}/10">10</a>
        </span>
        ]
    </span>
</div>
{{ end }}
