{{ define "topnavigation" }}
<span class="top-navigation">
    <span class="navigation">
        [
        <span class="navigation-item">
            <a href="/crypto">crypto</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/general">general</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/music">music</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/tech">tech</a>
        </span>
        ]
    </span>
    <span class="navigation">
        [
        <span class="navigation-item">
            <a href="/create-thread">create thread</a>
        </span>
        ]
    </span>
</span>
{{ end }}
