{{ define "pagenavigation" }}
<div class="page-navigation">
    <span class="navigation">
        [
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/1">1</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/2">2</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/3">3</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/4">4</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/5">5</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/6">6</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/7">7</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/8">8</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/9">9</a>
        </span>
        <span class="navigation-divider">/ </span>
        <span class="navigation-item">
            <a href="/boards/{{ .Board }}/page/10">10</a>
        </span>
        ]
    </span>
</div>
{{ end }}
